{
  "COSMOSDB_DATABASE_ID": "RepositoryDB",
  "CosmosDBConnection": "YOUR_COSMOSDB_CONNECTION_STRING",
  "SEARCH_SEARCH_SERVICE_NAME": "YOUR_SEARCH_SERVICE_NAME",
  "SEARCH_ADMIN_API_KEY": "YOUR_SEARCH_ADMIN_KEY"
}