{
  "COSMOSDB_DATABASE_ID": "RepositoryDB",
  "COSMOSDB_ENDPOINT_URI": "YOUR_COSMOSDB_ENDPOINT_URI",
  "COSMOSDB_PRIMARY_KEY": "YOUR_COSMOSDB_PRIMARY_KEY",
  "SEARCH_SEARCH_SERVICE_NAME": "YOUR_SEARCH_SERVICE_NAME",
  "SEARCH_ADMIN_API_KEY": "YOUR_SEARCH_ADMIN_KEY"
}